{% extends 'base.html' %}


{% block content %}



<div class="container mt-5">



<h2 class="text-center">

Welcome 

{{username}} 👋

</h2>




<div class="row mt-4">



<div class="col-md-4">


<div class="card shadow p-4 text-center">


<h5>

Total Quiz Attempted

</h5>


<h2 class="text-primary">

{{total_quizzes}}

</h2>


</div>


</div>






<div class="col-md-4">


<div class="card shadow p-4 text-center">


<h5>

Best Score

</h5>


<h2 class="text-success">

{{best_score|floatformat:2}}%

</h2>


</div>


</div>






<div class="col-md-4">


<div class="card shadow p-4 text-center">


<h5>

Start Quiz

</h5>


<a href="/quiz/" class="btn btn-primary">

Start Now

</a>


</div>


</div>



</div>






<div class="card shadow mt-5 p-4">



<h3>

Recent Quiz History

</h3>




<table class="table table-bordered text-center">


<tr>

<th>
Category
</th>


<th>
Score
</th>


<th>
Percentage
</th>


</tr>




{% for a in attempts %}


<tr>


<td>

{{a.category}}

</td>


<td>

{{a.score}}/{{a.total_questions}}

</td>


<td>

{{a.percentage|floatformat:2}}%

</td>


</tr>


{% empty %}


<tr>

<td colspan="3">

No quiz attempted yet

</td>

</tr>


{% endfor %}



</table>



</div>




</div>



{% endblock %}